.container-grid {
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 100%;
}
.gown1-img, .gown2-img, .gown3-img, .gown4-img {
    width: 100%;
}